{% extends "layout.html" %}

{% block title %}
    Intrests
{% endblock %}

{% block main %}
<head>
</head>
<div class="container bg-success">
    <fieldset>
        <h1>Change Interests</h1>
    </fieldset>
    <label for="interest">Choose a intrest:</label>

<form action="/add_interest" method="post">
    <select name="interest" id="interest">
    {% for interest in interests %}
        <option class="dropdown-item" value="{{ interest }}">{{ interest }}</option>
    {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn btn-warning" href="/">Go Back</a>
</form>    
</div>
{% endblock %}